body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dragger {
  padding: 10px;
  width: 100%;
  border: 3px dashed transparent;
}

.dragger__input--content {
  display: inline-block;
  position: relative;
}

.draggable.dragged {
  border: 3px dashed #ddd;
}

ul.dragger__ul {
  margin: 0;
}

ul.dragger__ul[data-show="false"] {
  display: none;
}

ul.dragger__ul[data-show="true"] {
  display: inline-block;
  position: absolute;
  background-color: darkseagreen;
  left: 0;
  top: 21px;
  z-index: 10;
  width: 100%;
  border: 1px solid forestgreen;
  padding: 10px 10px 10px 30px;
}

.dragger__title {
  margin-right: 15px;
}